<%= form_with(model: register, local: true) do |form| %>
  <% if register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(register.errors.count, "error") %> prohibited this register from being saved:</h2>

      <ul>
      <% register.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :tipo , params[:tipo], class:"form-label my-1 d-flex"%>
    <div class="form-check d-flex align-items-center">
      <%= form.radio_button :tipo, 'E', class:"form-check-input", id:"flexRadioDefault2" %>
      <label class="form-check-label mx-2" for="flexRadioDefault2">
        Entrada
      </label>
    </div>
    <div class="form-check d-flex align-items-center">
      <%= form.radio_button :tipo, 'S', class:"form-check-input", id:"flexRadioDefault3" %>
      <label class="form-check-label mx-2" for="flexRadioDefault3">
        Salida
      </label>
    </div>
  </div>

  <div class="field">
    <%= form.label "Fecha", class:"form-label my-1" %>
    <div class="d-flex">
      <%= form.date_select :date, {order: [:day, :month, :year], start_year: 2021}, { class:"form-select"} %>
    </div>

  </div>

  <div class="field my-3">
    <%= form.label "Hora", class:"form-label my-1 " %>
    <div class="d-flex w-50 align-items-center">
      <%= form.time_select :hour,{},{class:"form-select"} %>
    </div>

  </div>

  <div class="field mb-3">
      <label class="form-check-label mr-2 my-1" for="user_rol_id">
        Empleado
      </label>
      <%= form.select(:employee_id, {},{}, {class:"form-select"} )  do%>
        <% @employees.each do |c| -%>
          <%= content_tag(:option, c.full_name, value: c.id) %>
        <% end %>
      <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class:"btn btn-lg btn-success"%>
  </div>
<% end %>
