<div class="card w-50 mx-auto my-5">

    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h5 class="">¡Error!</h5>
        <a href="/registers/new" class="btn  btn-dark">
            <i class="bi bi-arrow-90deg-left me-2"></i>
            Regresar
        </a>
    </div>
    <div class="card-body">

        <ul class="p-0">
            <li class="d-flex text-danger">    
                <i class="bi bi-exclamation-diamond me-2"></i>
                <p class="card-text text-start text-danger">
                    <%= @er  %>
                </p>
            </li>
        </ul>
    </div>
        


</div>