<p id="notice"><%= notice %></p>


<div class="d-flex justify-content-between">
  <h3>Listado de registros</h3>
</div>

<div class="table-responsive bg-white py-4 rounded-3">

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Hora de entrada</th>
        <th>Hora de salida</th>
        <th>Total de horas</th>
        <th>Empleado</th>
        <!--<th colspan="3"></th>-->
      </tr>
    </thead>

    <tbody>
      <% @registers.each do |register| %>
        <tr>
          <td><%= register.date %></td>
          <td><%= register.hour_start== nil ? '---':register.hour_start.strftime("%I:%M %p") %></td>
          <td><%= register.hour_end== nil ? '---':register.hour_end.strftime("%I:%M %p") %></td>
          <td><%= register.total_hours == nil ? '---':register.total_hours %></td>
          <td><%= register.employee.full_name %></td>
          <!-- <td>
            <%= link_to register, class: "btn btn-success text-white"  do %>
                <i class="bi bi-eye-fill"></i>
            <% end %>
          </td>
         <td><%= link_to 'Show', register %></td>
          <td><%= link_to 'Edit', edit_register_path(register) %></td>
          <td><%= link_to 'Destroy', register, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%= link_to 'New Register', new_register_path %>
          -->
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

