
 <div class="w-50 mx-auto my-5 card">
    <div class="card-header">
      <h5>
        <i class="bi bi-plus-square me-2">
        </i> Nuevo Registro
      </h5>
    </div>
    <div class="card-body">
        <%= render 'form', register: @register %>
   </div>
</div>


<!--<%= link_to 'Back', registers_path %>
-->