

 <div class="w-50 mx-auto my-5 card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 id="notice">
        Registro guardado exitosamente
      </h5>
       <a href="/registers/new", class="btn btn-dark mt-2">
          Regresar
        </a>
    </div>
    <div class="card-body">

        <p class="my-2">
          <strong>ID :</strong>
          <%= @register.id %>
        </p>

          <p>
          <strong>Empleado: </strong>
          <%= @register.employee.full_name %>
        </p>

        <p class="my-2">
          <strong>Fecha :</strong>
          <%= @register.date %>
        </p>


        <p >
          <strong>Hora de entrada :</strong>
          <%= @register.hour_start == nil ? '---':@register.hour_start.strftime("%I:%M %p") %>
        </p>

        <p class="my-2">
          <strong>Hora de salida :</strong>
          <%= @register.hour_end == nil ? '---':@register.hour_end.strftime("%I:%M %p") %>
        </p>

        <p>
          <strong>Total de horas :</strong>
          <%= @register.total_hours  == nil ? '---':@register.total_hours%>
        </p>

       

        <!--<%= link_to 'Editar', edit_register_path(@register) %> -->

       
   </div>
</div>


