<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nombre", class:"mb-3" %>
    <%= form.text_field :name , class:"form-control "%>
  </div>

  <div class="field my-3">
    <%= form.label "Apellido Paterno", class:"mb-3" %>
    <%= form.text_field :paternalLastName , class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label "Apellido materno", class:"mb-3" %>
    <%= form.text_field :maternalLastName , class:"form-control"%>
  </div>

  <div class="form-check px-0 my-3 d-flex align-items-center">
    <%= form.label "Estado", class:"form-check-label" %>
    <%= form.check_box :state, class:"form-check-input mx-3", type:"checkbox" %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class:"btn btn-lg btn-success"%>
  </div>
<% end %>
