<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-between">
  <h3>Listado de empleados</h3>
  
  <%= link_to new_employee_path, class: "btn btn-light text-center mx-2 text-black" do%>
    <i class="bi bi-plus-lg"></i>
    Nuevo
  <% end %>

</div>

<div class="table-responsive bg-white py-3 rounded-3">

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Estado</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.id %></td>
          <td>
            <%= employee.full_name %>
          </td>
          <td><%= employee.state ? 'Activo':'Inactivo' %></td>
          <td>
            <%= link_to employee, class: "btn btn-success text-white"  do %>
                <i class="bi bi-eye-fill"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_employee_path(employee), class: "btn btn-warning"  do %>
                <i class="bi bi-pencil-square"></i>
            <% end %>
          </td>
          <!--<td>
            <%= link_to employee,class: "btn btn-danger text-white", method: :delete, data: { confirm: 'Are you sure?' } do%>
                  <i class="bi bi-x-square"></i>
            <% end%>
          </td>-->
          <% if employee.state %>

            <td>
              <%= link_to employees_down_path(:id => employee.id), method: :post, class: "btn btn-dark text-white", title:"Inabilitar" do%>
                <i class="bi bi-stop-circle"></i>
              <% end %>
            </td>

          <% else %>
            <td>
              <%= link_to employees_up_path(:id => employee.id), method: :post,  class: "btn btn-info text-dark", title:"Habilitar" do%>
                <i class="bi bi-play-circle"></i>
              <% end %>
            </td>
          <% end %>
          <td>
            <%= link_to calendar_index_path(:id => employee.id),class: "btn btn-primary text-white", title:"Calendario" do %>
              <i class="bi bi-calendar-fill"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

