<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-between mb-3">
    <h3 class="">Información de Empleado</h3>

</div>

<div class="card p-3">  

  <div class="card-body">

  <p>
    <strong>Nombre:</strong>
    <%= @employee.full_name %>
  </p>

  <p class="my-3">
    <strong>Estado:</strong>
    <%= @employee.state ? 'Activo':'Inactivo' %>
  </p>
    <%= link_to 'Editar', edit_employee_path(@employee), class:"btn btn-warning text-black" %> 
  </div>

</div>



