<div class="list">
  <div class="header">
    <div class="container mx-auto py-4 d-flex justify-content-between align-items-center">
      <h1 class="">Calendario</h1>
    
      <div class="d-flex justify-content-around">
        <a href="/employees" class="btn btn-dark text-white" title="Regresar"> 
          <i class="bi bi-arrow-90deg-left"></i>
        </a> 
      </div>
    </div>
  </div>


  <div class="container mx-auto pb-4">
    <div class="table-responsive bg-white px-3 rounded-3">

      <% hour_month = 0 %>

      <%= month_calendar  do |date| %>
          <%= date.day %>
        <br>
        <% @registers.each do |item| %>
            <% if item.date  == date %>
                <div class="d-flex flex-column mt-2">
                  <p>
                    Ent: <%= item.hour_start.strftime("%I:%M:%S %p") %>
                  </p>
                  <p>
                    Sal: <%= item.hour_end == nil ? 'En jornada': item.hour_end.strftime("%I:%M:%S %p")%>
                  </p>
                </div>
              <% hour_month += item.total_hours.to_i %>
            <% end %>
        <% end %>

      <% end %>

      <p class="py-3 border rounded bg-light fs-6 px-3 text-center mt-3">
        Total de horas trabajadas: <%= hour_month %>
      </p>

    </div>  
  </div>
</div>