
<h3 class="text-center py-2">Iniciar sesión</h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-control">
    <%= f.label "Correo electrónico" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field my-3 form-control">
    <%= f.label "Contraseña" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="field form-control">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <div class="actions my-3">
    <%= f.submit "Acceder", class: "btn btn-primary mb-3 w-100 py-2" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
               