
<% @docs.each do |file| %>
    <% formatos = (file.filename).to_s.split('.')  %>
    <li class="py-2">
      <%= link_to rails_blob_path(file, disposition: "attachment"), class:"fw-light", title:"Descargar reporte en XLS" do %>
        Descargar en 
        <%= formatos[1].upcase %> 
        =>
        <%= file.filename %>
      <% end %>
    </li>
<% end %>