<div class="list">
  <div class="header">
    <div class="container mx-auto py-4 d-flex justify-content-between align-items-center">
      <h1 class="">Lista de Registros</h1>

        <div class="d-flex justify-content-end mb-3">
          <%= link_to "CVS", report_exportar_path(:person_id=>@person_id, :year_id=>@year, :month_id=>@month, format: :csv), class:"btn btn-success text-white mx-3" %>
          <%= link_to "XLS", report_exportar_path(:person_id=>@person_id, :year_id=>@year, :month_id=>@month, format: :xls), class:"btn btn-warning mx-3" %>
          <%= link_to "HTML", report_exportar_path(:person_id=>@person_id, :year_id=>@year, :month_id=>@month, format: :html), :download => "#{@person_id}_#{@month}_#{@year}",  class:"btn btn-dark text-white mx-3" %>
        </div>
      
    </div>
  </div>

  
  <div class="container mx-auto pb-4">
    <% if @registers.length != 0 %>

      <div class="table-responsive bg-white p-3 rounded-3">
        <div class="bg-light p-3  mb-4">
          <div class="d-flex justify-content-between">
            <p class="fs-6">
              Empleado: 
              <span class="fw-lighter">
                <%= @employee.full_name %>
              </span>
            </p>
            <p class="fs-6">
              Total de horas trabajadas: 
              <span class="fw-lighter">
                <%= @total %>
              </span>
            </p>
          </div>
          <ul class="mt-3">
            <%= render 'partial' %>
          </ul>

        </div>

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Fecha</th>
              <th>Hora de entrada</th>
              <th>Hora de salida</th>
              <th>Total de horas</th>
            </tr>
          </thead>
        
          <tbody>
            <% @registers.each do |register| %>
                <tr>
                  <td><%= register.id %></td>
                  <td><%= register.date %></td>
                  <td><%= register.hour_start == nil ? '---':register.hour_start.strftime("%I:%M %p") %></td>
                  <td><%= register.hour_end == nil ? '---':register.hour_end.strftime("%I:%M %p") %></td>
                  <td><%= register.total_hours == nil ? '---': register.total_hours %></td>
                </tr>

            <% end %>
       
          </tbody>
          
        </table>
      </div>

    <% else %>
          <div class="bg-light p-3 d-flex justify-content-between mb-4">
          <p class="fs-6">
            No se encontraron registros
          </p>
         
        </div>
    <% end %>

  </div>
</div>
