<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
        <Row>
          <Cell><Data ss:Type="String">ID</Data></Cell>
          <Cell><Data ss:Type="String">Empleado</Data></Cell>
          <Cell><Data ss:Type="String">Fecha</Data></Cell>
          <Cell><Data ss:Type="String">Hora de entrada</Data></Cell>
          <Cell><Data ss:Type="String">Hora de salida</Data></Cell>
          <Cell><Data ss:Type="String">Horas trabajadas</Data></Cell>
        </Row>
        <% @registers.each do |item| %>
            <Row>
              <Cell><Data ss:Type="Number"><%= item.id %></Data></Cell>
              <Cell><Data ss:Type="String"><%= item.employee.full_name %></Data></Cell>
              <Cell><Data ss:Type="String"><%= item.date %></Data></Cell>
              <Cell><Data ss:Type="String"><%= item.hour_start == nil ? '---': item.hour_start.strftime("%I:%M %p") %></Data></Cell>
              <Cell><Data ss:Type="String"><%= item.hour_end == nil ? '---': item.hour_end.strftime("%I:%M %p") %></Data></Cell>
              <Cell><Data ss:Type="String"><%= item.total_hours == nil ? '---': item.total_hours %></Data></Cell>
            </Row>
        <% end %>
    </Table>
  </Worksheet>
</Workbook>