<div class="list">
  <div class="header">
    <div class="container mx-auto pt-4 d-flex justify-content-between align-items-center">
      <h1 class="">Reportes</h1>
    </div>
  </div>


  <div class="container mx-auto pb-4">
    <div class="w-75 mx-auto my-4 card ">
        <div class="card-header">
         Horario por mes
        </div>
        <div class="card-body">

          <%= form_tag report_exportar_path, method: :get, class:"m-0 p-0 w-100" do %>

            <div class="form-group mb-3">
              <%= select_tag :person_id, options_from_collection_for_select(Employee.all, "id",  "full_name", params[:person_id]), prompt: "Empleado", class: "form-control" %>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <div class="form-group w-50 me-3">
                <%= select_tag :month_id, options_for_select(@months.each_with_index.map{|m, i| [m, i+1]}, params[:month_id]), prompt: "Mes", class: "form-control" %>
              </div>
               <div class="form-group w-50">
                <%= select_tag :year_id, options_for_select(@years.each_with_index.map{|m, i| [m, m]}, params[:year_id]), prompt: "Año", class: "form-control" %>
              </div>
             
            </div>

            <%= submit_tag "Buscar", name: nil, class: "btn btn-success w-100" %>
          <% end %> 

        </div>

    </div>
  </div>
</div>
