<div id="login" class="h-100 w-100">
    <div class="container mx-auto d-flex align-items-center justify-content-center">
        <div class="box-login mt-2" class="mx-auto">
            <div class="content-login">
                <span class="py-3 d-flex justify-content-center fs-1">
                    <i class="bi bi-person-circle"></i>
                </span>
                <h3 class="text-center py-2">Iniciar sesión</h1>

               <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field my-3">
                  <%= f.label "Email", class:"mb-2 form-label" %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                </div>

                <div class="field">
                  <%= f.label "Contraseña", class:"mb-2 form-label" %>
                  <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="field my-3 d-flex align-items-center">
                    <%= f.check_box :remember_me %>
                    <%= f.label "Recuérdame", class:"mx-2" %>
                  </div>
                <% end %>

                <div class="actions">
                  <%= f.submit "Acceder", class:"btn w-100 text-white" %>
                </div>
              <% end %>
              <div class="d-flex flex-column justify-content-center text-center mt-3">
                <%= render "devise/shared/links" %>
              </div>

            </div>
        </div>    
    </div>
</div>



