/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "simple_calendar";





 *{
    margin: 0 !important
}

body{
   min-height: 100vh;
   margin: 0 !important

}


a{
    text-decoration: none;
}
a:hover{
    background: none;
}
.btn{
    line-height: inherit !important;
    font-size: 0.86rem;
}
td {
    vertical-align: middle !important
}
.inp select {
   display: block;
   padding: .375rem .75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border-radius: .25rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-cerrar{
   font-size: 1.1rem;
   color: #212529;

}

.btn-cerrar:hover{
   color: #212529;

}




.box-nav{
    background:#01709d;
    color:#fff;
    min-height: 100vh;
    width: 300px;
    h5{
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        border-bottom:1px solid #ccc;
        
    }
    .username{
        font-weight: 500;
        font-size: 0.9rem;
        border-bottom:1px solid #ccc;


    }
    ul {
        li{
            a{
                color: #fff;
                font-size: 1rem;

            }
            a:hover{
                background:none;
                color: #fff !important;

            }

        }
    }
}

.layout-gen > b{
    width: 100% !important;
}

.nav-sup{
    background: #f9f9f9;
}

a:hover{
    color:initial !important;
    background: initial !important;
}

.btn:hover{
    color:inherit !important;
    background-color: inherit !important;
}
