/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 *{
    margin: 0 !important
}

body{
   min-height: 100vh;
   margin: 0 !important

}



.layout-devise{

    background: #f9f9f9;
    .content{
    
        border-radius: 8px;
        width: 450px;    margin: auto !important;
        background:#fff !important;
        display:flex;
        flex-direction: column;
        justify-content: center;
        h2{
            text-align: center
        }
        
    }
    
    #login{
        background: #fff;
        .box-login{
            background: #fff;
            padding:15px 30px;
            width: 100%;
            span{
                color:#01709d;
            }
            .btn{
                background:#01709d;

            }
        }
    }
}



.hv-100{
    min-height: 100vh;
    
}
