// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&display=swap');

.home {
    background: #01709d;
    color: #fff;
    font-family: 'Lora', serif;
    .h-100{
        min-height: 100vh !important;
    }
    h3{
        font-size: 2rem;
        font-weight: 500;
    }
    a{
        color: #fff !important;
        font-size: 1rem;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        &.title{
            font-size: 1.8rem;
            font-weight: 800;
        }
        img{
            object-fit: cover;
        }
    }
    a:hover{
        background: none !important;
        color: #fff;
    }
}

.list {
    .header{
        h1{
            font-size: 1.3rem;
        }
    }
}