<!DOCTYPE html>
<html>
  <head>
    <title>AppControlDeviseV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="layout-gen d-flex ">
      <div class="box-nav">
        <div class="title">
          <h5 class=" py-4 px-3 ">Sistema de control</h4>
          <div class="text-start py-3 px-3 username d-flex align-items-center">
              <span class="fs-3">
                  <i class="bi bi-person-circle"></i>
              </span>
              <p class="mx-2 ">
                  Bienvenido <b> <%= current_user.email %> 
              </p>
          </div>        
          <ul class="p-3 nav justify-content-center flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <i class="bi bi-speedometer2 me-2"></i>Dashboard
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/employees"><i class="bi bi-person-bounding-box me-2"></i>Empleados</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/registers"><i class="bi bi-card-checklist me-2"></i>Registros</a>
            </li>

            <li class="nav-item">
                <%= link_to reports_path, class:"nav-link" do%>
                    <i class="bi bi-bookmarks-fill me-2"></i>
                    Reportes
                <% end %>
            </li>

            
          </ul>    
        </div>
      </div>

      <div class="content-main">
        <div class="d-flex justify-content-end py-3 px-4 nav-sup">
          <%= link_to  destroy_user_session_path, method: :delete do %>
              <i class="bi bi-box-arrow-right"></i>
              Salir
          <% end %>
        </div>
        <div class="py-3 px-4">
          <%= yield %>
        </div>
       

      </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
