<!DOCTYPE html>
<html>
  <head>
    <title>AppControlDeviseV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <%= stylesheet_link_tag "free" %>
  </head>

  <body>
    <header>  
      <div class="container  mx-auto py-4 d-flex justify-content-between align-items-center" > 
          <h3 class="text-white">Registro de entrada y salida - Personal</h3>
          <a href="/" class="text-white fs-3" title="Ir al inicio">
            <i class="bi bi-house-fill"></i>
          </a>
      </div>
    </header>
    <div class="layout-libre d-flex ">

      <div class="container mx-auto ">

       
            <%= yield %>
       
       

      </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
