<!DOCTYPE html>
<html>
  <head>
    <title>AppControlDeviseV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <%= stylesheet_link_tag "main" %>
  </head>

  <body>
   
   <div class="home h-100">
    <div class="container text-center mx-auto h-100">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <h3>
                Sistema de control <br> de entrada y salida de personal 
            </h3>
            
            <a href="#" class="title py-3">
                <img height="150" src="https://geosatelital.com/wp-content/uploads/ISOTIPO-BLANCO-PEQUENO.png" alt="Geosatelital">
            </a>
            <div class="enlaces d-flex flex-column">
              <%= link_to home_index_path do %>
                <i class="bi bi-box-arrow-in-right me-2"></i>
                Admin
              <% end %>
              <a href="/registers/new" class="my-2" >
              <i class="bi bi-card-checklist me-2"></i>
                Registrar entrada / Salida
              </a>
            </div>
        </div>
        </div>
    </div>


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
