
                <h3 class="text-center py-2">Iniciar sesión</h1>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "users/shared/error_messages", resource: resource %>

                  <div class="field form-control">
                    <%= f.label "Correo electrónico" %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>

                  <div class="field my-3 form-control">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password" %>
                  </div>

                  <div class="field form-control">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                  </div>

                  <div class="actions">
                    <%= f.submit "Acceder", class: "btn btn-primary mb-3 w-100 py-2" %>
                  </div>
                <% end %>
                
                <%= render "users/shared/links" %>
